<a href="{{ SITEURL }}/"><div style="margin-top:8px;margin-left:-5px">
<ul id="banner-pic" style="margin:0">
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/fiji-01.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/fiji-02.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/fiji-03.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/frenchpolynesia-01.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/frenchpolynesia-02.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/frenchpolynesia-03.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/nepal-01.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/nepal-02.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/nepal-03.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/nepal-04.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-01.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-02.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-03.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-04.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-05.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-06.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-07.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-08.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-09.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-10.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-11.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-12.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/newzealand-13.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/thailand-01.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/thailand-02.jpg" /></li>
	<li class="slide"><img src="{{ SITEURL }}/theme/banner/thailand-03.jpg" /></li>
</ul>
</div></a>
<script type="text/javascript">
$('#banner-pic').bxSlider({
  auto: true,
  slideWidth: 880,
  randomStart: true,
  pager: false,
  controls: false
});
</script>