<div class="block block-menu">
<div class="content">
	<ul class="menu menu-root">
		<li class="leaf"><a href="http://www.bikingthegreatdivide.com">Biking the Great Divide '09</a></li>
		{% for p in PAGES %}
		<li class="leaf"><a href="/{{ p.url }}" {% if p == page %} class="active"{% endif %}>{{ p.title }}</a></li>
		{% endfor %}
		{% if DISPLAY_CATEGORIES_ON_MENU -%}
		{% for cat, null in categories %}
		<li class="leaf"><a href="/{{ cat.url }}" {% if cat == category %} class="active"{% endif %}>{{ cat|capitalize }}</a></li>
		{% endfor %}
		{% endif %}
	</ul>
</div>
</div>